<div class="container">
    <h1 class="text-center mt-5 mb-5">Add Timetable</h1>
    <form method="post" action="/admin/add-timetable" style="display:flex;flex-direction:column;align-items:center;">
        <div class="form-row">
            
        <h4>Day</h4>
        <div class="form-group ml-2 mb-5">
            <select class="custom-select mr-sm-2" name="day" required>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 1</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period1" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 2</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period2" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 3</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period3" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 4</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period4" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 5</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period5" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 6</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period6" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 7</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period7" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>
        <div class="form-row">
            
        <h4>Period 8</h4>
        <div class="form-group ml-5">
            <select class="custom-select mr-sm-2" name="period8" required>
                <option selected hidden disabled>Choose...</option>
                <option value="Science">Science</option>
                <option value="Maths">Maths</option>
                <option value="English">English</option>
                <option value="Biology">Biology</option>
                <option value="Social">Social</option>
                <option value="Malayalam">Malayalam</option>
                <option value="IT">IT</option>
            </select>
        </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>