<div class="container mt-5 mb-5">
    <h1 class="text-center mb-5">Add Student</h1>
    <form method="post" action="/admin/add-student" enctype="multipart/form-data">
    <div class="form-group">
    <input type="text" class="form-control" name="name" aria-describedby="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="gname" aria-describedby="name" placeholder="Enter gaurdian name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="gemail" aria-describedby="email" placeholder="Enter gaurdian email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="mobile" aria-describedby="mobile" placeholder="Enter mobile no">
  </div>
  <div class="form-group">
      <label for="dob">Date of birth</label>
    <input type="date" id="dob" class="form-control" name="dob" aria-describedby="date-of-birth" placeholder="Enter DOB">
  </div>
  <div class="form-group">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Gender</label>
      <select class="custom-select mr-sm-2" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Address</label>
    <textarea class="form-control" name="address" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Identification</label>
    <textarea class="form-control" name="identify" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Profile photo</label>
    <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <button type="submit" class="btn btn-success">Add Student</button>
</form>
</div>