<div class="container mt-5">
    <div class="user-details">
        <img src="/student-img/{{student._id}}.jpg" alt="" />
        <h2>{{student.name}}</h2>
        <p>Email : {{student.email}}</p>
        <p>Mobile : {{student.mobile}}</p>
        <a  class="text-white btn btn-success" href="/student/edit-profile">Edit Profile</a>
    </div>
</div>



<style>
    .user-details{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 400px;
        justify-content: space-around;
    }
    .user-details img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
</style>